{{define "contents"}}
<div id="gw-file-info">
    <span id="gw-file-name">{{.Resource}}</span>
    <span id="gw-file-buttons">
        <a class="gw-button" href="?raw=true"><code>raw</code></a>
        {{if $.HideLineNums}}
        <a class="gw-button" href="?nums=true"><code>+nums</code></a>
        {{else}}
        <a class="gw-button" href="?nums=false"><code>-nums</code></a>
        {{end}}
    </span>
</div>
<div id="gw-file-contents">
    <table>
        {{range $i, $line := .FileLines}}
        <tr id="L{{$i}}" class="gw-file-line" style="line-height: 0;">
            {{if not $.HideLineNums}}<td><a href="#L{{$i}}"><code>{{$i}}</code></a></td>{{end}}
            <td><pre>{{$line}}</pre></td>
        </tr>
        {{end}}
    </table>
</div>
{{end}}