body {
    font-family: Helvetica;
    line-height: 1.5;
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover, a.ref-link {
    color: rgb(9, 105, 218) !important;
}

@media screen and (max-width: 600px) {
    header {
        display: block;
    }
    #header-breadcrumbs {
        margin-bottom: 0.5em;
        padding-bottom: 0.5em;
        border-bottom: 1px solid rgb(236, 236, 239);
    }
    #header-index {
        /*text-transform: uppercase;*/
        margin-bottom: 0.5em;
        padding-bottom: 0.5em;
        border-bottom: 1px solid rgb(236, 236, 239);
    }
}

@media screen and (min-width: 601px) {
    header {
        display: flex;
        margin-bottom: 0.5em;
        padding-bottom: 0.5em;
        border-bottom: 1px solid rgb(236, 236, 239);
    }
}

.current-page {
    font-weight: bold;
}

a.current-page:hover {
    color: black !important;
}

#header-index {
    margin-left: auto;
}

#bc-home {
    color: yellowgreen;
    border: 1px solid yellowgreen;
    border-radius: 15px;
    padding: 3px;
}

#bc-commit {
    color: rgb(180, 180, 183);
}


.gw-error-code {
    font-weight: bold;
    font-size: 24px;
}

.gw-todo, .gw-repo {
    padding: 12px;
    border-bottom: 1px solid rgb(236, 236, 239);
    box-sizing: border-box;
}

.gw-repo-description {
    font-family: monospace;
}

.gw-todo-title {
    font-size: 16px;
    font-weight: bold;
}

.gw-todo-data {
    width: inherit;
    font-size: 12px;
    color: #737278;
}

.gw-todo-pri {
    font-weight: bold;
}

.gw-todo-pri-A {
    background-color: #faa;
}

.gw-todo-pri-B {
    background-color: #ffa;
}

.gw-todo-pri-C {
    background-color: #9d9;
}

.gw-todo-id {
    font-family: monospace;
}
