{{define "contents"}}
<div id="gw-todo-list">
    {{if .Todos}}
    {{range .Todos}}
    <div class="gw-todo{{if .Priority}} gw-todo-pri-{{.Priority}}{{end}}">
        <a href="?id={{.ID}}" class="gw-todo-title">{{.Title}}</a>
        <div class="gw-todo-data">
            {{ if .Priority }}
            <span class="gw-todo-pri">({{.Priority}})</span>
            <span class="gw-todo-dot">&middot;</span>
            {{end}}
            <span class="gw-todo-id">{{.ID}}</span>
            {{ if or .Author .TimeAgoString}}
            <span class="gw-todo-dot">&middot;</span>
            <span class="gw-todo-info-created">Created </span> 
            {{ if .Timestamp}}
            <span class="gw-todo-timestamp" title="{{.Timestamp.Format "2006-01-02 15:04 UTC"}}">{{.TimeAgoString}}</span> 
            {{ end }}
            {{ if .Author}}
            <span class="gw-todo-info-by"> by </span> 
            <span class="gw-todo-author">{{.Author}}</span>
            {{- /*
                TODO [todo_context_link]: Link to the *raw* file and line num for a todo
                While it makes sense to use todo ID for the todo details page, it should
                still be possible to see it in context in the raw source file, i.e. link to
                 <projectPath>/-/files/<filename>#<line_num>
                This depends on the implementation of the commit file browser, of course.

            */ -}}
            {{end}}
            {{end}}
        </div>
    </div>
    {{end}}
    {{else}}
    <div class="gw-no-todos">Nothing to do here :)</div>
    {{end}}
</div>
{{end}}
