{{define "contents"}}
<div id="gw-todo-list">
    {{if .Todos}}
    {{range .Todos}}
    <div class="gw-todo{{if .Priority}} gw-todo-pri-{{.Priority}}{{end}}">
        <a href="?file={{.FileName}}&line={{.Line}}" class="gw-todo-title">{{.Title}}</a>
        <div class="gw-todo-data">
            {{ if .Priority }}
            <span class="gw-todo-pri">({{.Priority}})</span>
            <span class="gw-todo-dot">&middot;</span>
            {{end}}
            <span class="gw-todo-id">{{.ID}}</span>
            {{ if or .Author .TimeAgoString}}
            <span class="gw-todo-dot">&middot;</span>
            <span class="gw-todo-info-created">Created </span> 
            {{ if .Timestamp}}
            <span class="gw-todo-timestamp" title="{{.Timestamp.Format "2006-01-02 15:04 UTC"}}">{{.TimeAgoString}}</span> 
            {{ end }}
            {{ if .Author}}
            <span class="gw-todo-info-by"> by </span> 
            <span class="gw-todo-author">{{.Author}}</span>
            {{end}}
            {{end}}
        </div>
    </div>
    {{end}}
    {{else}}
    <div class="gw-no-todos">Nothing to do here :)</div>
    {{end}}
</div>
{{end}}