<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{.Title}}</title>
  <link rel="stylesheet" href="{{.StyleLink}}">
</head>
<body>
    <header>
      <div id="header-breadcrumbs">
        <a id="bc-home" href="/{{.RootPath}}">gw</a>
        {{range .Breadcrumbs}}
          {{if .Current}}
            / {{.Text}}
          {{else}}
            / <a href="{{.Href}}{{if $.Operation}}/-/{{$.Operation}}{{end}}">{{.Text}}</a>
          {{end}}
        {{end}}
        {{if .FriendlyCommit}}<a href="{{.ProjectLink}}-/refs/" id="bc-commit">@{{.FriendlyCommit}}</a>{{end}}
      </div>
      {{if .Index}}
      <div id="header-index">
      {{range .Index}}
        <a href="{{.Href}}"{{if .Current}} class="current-page"{{end}}>/{{.Text}} </a>
      {{end}}
      </div>
      {{end}}
    </header>
    {{block "contents" .}}gitwood{{end}}
</body>